@{
    ViewData["Title"] = "Home Page";

    ViewBag.h1 = "Bowler Team Contact Information";
    
}

@*this is recognized because I brought it into the project in the _viewImports*@

@model IndexViewModel


<div class="container">
    <table id="Bowlers">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Middle Initial</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Phone#</th>
            </tr>
        </thead>

        @*Use razor code to make bring in the bowler data from the model.
            Also use a foreach to loop through all of the bowler contact info to print them out*@
        <tbody>
            @foreach (var x in Model.Bowlers)
            {
                <tr>
                    <td>@x.BowlerFirstName</td>
                    <td>@x.BowlerMiddleInit</td>
                    <td>@x.BowlerLastName</td>
                    <td>@x.BowlerAddress</td>
                    <td>@x.BowlerCity</td>
                    <td>@x.BowlerState</td>
                    <td>@x.BowlerZip</td>
                    <td>@x.BowlerPhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
</div>

@*this is the dynamically made tag using tag helper for the paging information*@

<div page-info="@Model.pageNumberingInfo" page-url-teamname="@Model.TeamName" page-classes-enabled="true" page-class="btn" page-class-normal="btn-secondary" page-class-selected="btn-primary" class="btn-group pull-right m-1">

</div>
